<hr class='clear' />
<h2 class='items-title'>Choferes</h2>

<%= f.inputs do %>
    <div class="choferes">
      <%= f.semantic_fields_for :unidad_choferes do |fc| %>
        <%= render partial: 'unidad_chofer_fields', locals: {f: fc} %>
      <% end %>
    </div>

<% end %>
<div class="links">
  <%= link_to_add_association 'Agregar Chofer', f,
    :unidad_choferes,
    'data-association-insertion-method' => :append,
    'data-association-insertion-node' => '.choferes',
    :class => 'global_button button'%>
</div>

