<hr class='clear' />
<h2 class='items-title'>Choferes</h2>

<%= f.inputs do %>
  <table width="100%" class='unidad_chofer_items'>
    <thead>
      <tr>
        <th width="8%">Chofer</th>
        <th width="18%">Turno</th>
        <th width="10%"></th>
      </tr>
    </thead>
    <tbody class="choferes">
      <%= f.semantic_fields_for :unidad_choferes do |fd|%>
        <%= render 'unidad_chofer_fields', :f => fd %>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="links">
  <%= link_to_add_association 'Agregar Chofer', f,
    :unidad_choferes,
    'data-association-insertion-method' => :append,
    'data-association-insertion-node' => '.choferes',
    :class => 'global_button button'%>
</div>
