<% content_for(:sidebar) do %>
<div class='block'>
  <div class='navigation'>
    <ul>
<!--
      <li class="fa fa-plus-circle fa-lg"><%#= link_to "Nota de Pedido", new_unidad__path(@unidad) %></li>
      <li class="fa fa-plus-circle fa-lg"><%#= link_to "Nota de Reparacion", new_unidad_path(@unidad) %></li>
      <li class="fa fa-plus-circle fa-lg"><%#= link_to "Notas de Pedido Ver", new_unidad_unidad_chofer_path(@unidad) %></li>
      <li class="fa fa-plus-circle fa-lg"><%#= link_to "Notas de Reparacion Ver", new_unidad_unidad_chofer_path(@unidad) %></li>
    </ul>
  </div>
-->
</div>
<%end%>

