<div class="nested-fields">
<table>
  <tr style="width:100%">
    <th>Chofer</th>
    <th>Turno</th>
    <th></th>
  </tr>
  <tr style="width:100%">
    <td><%= f.select :chofer_id, current_taller.choferes.map{ |c| [c.full_name, c.id] }, { include_blank: '-- elija el Chofer --' }, class: "chofer_select",id: 'chofer'%></td>
    <td> <%= f.select :turno_id, Turno.all.map{ |c| [c.descripcion, c.id] }, { include_blank: '-- elija el Turno --' }, class: "turno_select",id: 'turno' %> </td>
    <%#= f.select :turno_id, current_taller.turnos.map{ |c| [c.descripcion, c.id] }, { include_blank: '-- elija el Turno --' }, class: "chofer_select", id: 'chofer' %>
    <td class="remove"><%= link_to_remove_association('' , f,html_options = { class: 'fa fa-trash-o fa-lg' }) %></td>
  </tr>
</table>
</div>
