<% content_for(:title, Unidad.model_name.human.titlecase) %>

<% content_for(:sidebar) do %>
  <div class="block">
      <div class="navigation">
        <ul>
          <li class="fa fa-eye fa-lg"><%= link_to( "Mostrar", unidad_path(@unidad) ) %></li>
        </ul>
      </div>
  </div>
<% end %>

<% content_for(:breadcrumbs) do %>
  <%= breadcrumbs do |b|
      b.item Unidad.model_name.human, unidades_path
      b.item @unidad.patente, unidad_path(@unidad)
      b.item 'Editando', edit_unidad_path, active: true
  end %>
<%end%>

<%= render 'form' %>
