<%= form_for(@notapedido) do |f| %>
  <% if @notapedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notapedido.errors.count, "error") %> prohibited this notapedido from being saved:</h2>

      <ul>
      <% @notapedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
