<%= form_for(@notareparacion) do |f| %>
  <% if @notareparacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notareparacion.errors.count, "error") %> prohibited this notareparacion from being saved:</h2>

      <ul>
      <% @notareparacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
