<%- model_class = Usuario -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<% content_for(:breadcrumbs) do %>
    <%= breadcrumbs do |b|
      b.item current_taller.nombre.titlecase, root_path
      b.item Usuario.model_name.human, usuarios_path
    end %>
<%end%>

<%= render 'form' %>
